body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 25px;
}

.footer-links a  {
  text-decoration: none;
  color: black;
  margin-bottom: 2px;
}

.Charges h1{
  font-size: 16px;
  margin: 16px 0 15px;
}

.Charges li ,
.Charges p
{
  font-size: 14px;
  margin: 12px 0 16px;
}

.about p {
  text-align: start;
}

#supportHero{
  background-color: #f1f1f1;
}